* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
	font-family: "Merriweather", sans-serif;
}

.container {
	max-width: 500px;
}

.header-box {
	color: #fff;
	font-weight: 900;
	font-size: 0.7rem;
	text-align: center;
	padding: 1rem;
	background-color: #39395a;
}

p {
	font-size: 15px;
	margin: 1rem auto;
}

.container {
	margin: auto;
	padding: 1rem;
}

h2 {
	font-size: 1rem;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 0.8rem;
	margin: 1.2rem auto;
}

.line-1 {
	width: 100%;
	border: 2px solid black;
}

.line-2 {
	width: 100%;
	margin: 0.2rem 0;
	border: 0.5px solid black;
}

.line-3 {
	width: 100%;
	margin: 1rem 0;
	border: 0.5px solid black;
}

legend {
	font-weight: 700;
	font-size: 1rem;
	margin: 1rem 0 0.9rem;
}

label {
	display: inline-block;
	margin: 0.4rem auto;
	font-size: 0.8rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	display: block;
	width: 100%;
	margin: 7px 0;
	padding: 10px;
	font-size: 13px;
	font-family: "Merriweather", sans-serif;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 4px 8px 0;
	font-size: 10px;
}

textarea {
	height: 100px;
}

fieldset {
	border-style: none;
}

#address4 {
	width: 40%;
}

button {
	width: 100%;
	border-radius: 0.5em;
	background: #39395a;
	color: #fff;
	padding: 10px 0;
	font-size: 28px;
	border: none;
	border-radius: 8px;
	margin: 1.5rem auto 2.5rem;
	display: block;
	cursor: pointer;
}

footer {
	font-size: 0.8rem;
	text-align: center;
	margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 600px;
	}

	.contact-form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.flex-pair {
		align-self: center;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select {
		width: 70%;
		margin-left: 160px;
	}

	/* input[type="radio"] {
	} */

	#address4 {
		width: 30%;
	}

	.line-3 {
		margin: 2rem 0;
	}

	textarea {
		margin: auto;
	}

	button {
		width: 100%;
	}

	label {
		margin-left: 10px;
	}
}
